:root{
    --primary-color: rgba(117, 117, 117, 1);

    --title-color: rgba(33, 33, 33, 1);;
    --accent-color: rgba(33, 150, 243, 1);
    --primary-white-color: #FFFFFF;

}
body{
    background-color: var(--primary-white-color)
    color: var(--primary-color);
}
.list{
    list-style: none;
}

/* Header */
.logo{
    color: var(--accent-color);
    text-decoration: none;
}

.logo-black {
    color: var(--title-color);}

  /* Navigation */
  .site-nav .link{
    text-decoration: none;
    list-style: none;
    color: var(--title-color);

  }
.site-nav .link:hover, .link:focus{
    color: var(--accent-color);
}
.contacts a {
    color: var(--primary-color);
    text-decoration: none;
}
.contacts-info:hover, .contacts-info:focus{
    color: var(--accent-color);

}.site-nav .current{
    color: var(--accent-color);
}
  /* Hero */
    .hero{
        background-color:#2F303A;
        width: 1600px;
        height: 600px;
        padding: 200px;
    }

    .hero-title{
        color: var(--primary-white-color);

    }
    /* Button */
    .button{
        color: var(--title-color);
        cursor: pointer;
    }
    .button:hover, .button:focus{
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }
    .button.accent {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }

    .button:hover, .button:focus{
    }
    /* Features */
  .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    .features-title{
    color: var(--title-color);
        text-transform: uppercase;
        
    }
    /* Our work */
    .section-title{
        color: var(--title-color);
    }

    /* Footer */
    .footer {
        background: rgba(47, 48, 58, 1);
    
    }
    .logo-white{
        color: var(--primary-white-color);
    }
.list a{
    text-decoration: none;
}
.list .address-street{
   color: rgba(255, 255, 255, 1);
 
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);

}
.address-street:hover, .address-street:focus, .contacts-footer:hover, .contacts-footer:focus {
    color: var(--accent-color);
}
/* PORTFOLIO */
.portfolio {
    background: #E5E5E5;
}